.sidebar{
    box-sizing: border-box;
    background-color: #31144b;
    width: 150px;
    height: 100vh;
    font-size: large;
    position: fixed;
    top: 0;
    right: 0;
}
.sidebar a{
    color: white;
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding: 1.2em 2em;
    border-radius: 0.2em;
}

.sidebar a:hover{
    background-color: rgb(191, 136, 255);
    color: black;
}
.content{
    margin-right: 170px;
    margin-top: 0.5em;
    padding: 0.2em;
}