.layer {
    box-sizing: border-box;
    min-height: 40vh;
    width: 300px;
    margin: 5em 32em;
    padding: 1em;
    background-color: #7d599f50;
    border-radius: 0.4em;

}

label {
    margin: 0.5em 0;
}

input {
    display: block;
    width: 90%;
    border-radius: 0.5em;
    border: 0;
    margin: 0.5em 0;
    padding: 0.5em;
}

input[disabled] {
    background-color: silver;
    cursor: not-allowed;
}