/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-color: rgba(178, 95, 255, 0.721);
}
@font-face {
    font-family: persian;
    src: url('/fonts/persianFont.woff2');
}
*{
    font-family: persian;
}